
/* 容器样式 */
.todo-container {
    width: 500px;
    box-shadow: 0 5px 10px #ddd;
}

/* 输入框样式 */
.todo-input {
    width: 100%;
    height: 60px;
    line-height: 50px;
    padding: 0 10px 0 50px;
    box-sizing: border-box;
    border: 1px solid #eee;
    font-size: 20px;
    outline: none;
    background: #fdfdfd;
}

.todo-input::-webkit-input-placeholder{
    color: #eee;
    font-weight: 400;
    font-style: italic;
}

/* 表单 */
.todo-form {
    padding: 40px;
}

.todo-form-row {
    margin-top: 20px;
}

.todo-form-row:first-child {
    margin-top: 0px;
}

.todo-form-control {
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    font-family: 微软雅黑;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.todo-form-control:focus {
    border-color: #aaa;
}

.todo-form-control::-webkit-input-placeholder {
    color: #eee;
    font-weight: 400;
    font-style: italic;
}

.todo-form-input {
    width: 400px;
    height: 40px;
}

.todo-form-textarea {
    width: 400px;
    height: 100px;
}

.todo-form-select {
    width: 400px;
}

.todo-form-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 10px;
}


.todo-form-button--primary {

    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}

/* 列表样式 */
ul,li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.todo-list {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 -2px 5px #eee;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.todo-item {
    min-height: 50px;
    padding: 0 10px 0 50px;
    border-bottom: 1px solid #eee;
    font-family: 微软雅黑;
    font-size: 18px;
    color: #666;
    display: grid;
    grid-template-columns: auto 50px 50px;
}

.todo-item-text {
    line-height: 50px;
}

.todo-item-describe {
    font-size: 14px;
    color: #aaa;
    margin: 0px;
    padding-bottom: 10px;
}

/* 列表样式 - 删除按钮 */
.todo-item-delete {
    line-height: 50px;
    visibility: hidden;
    text-align: center;
    cursor: pointer;
    color: #ffc3a6;
    font-size: 12px;
    font-weight: 800;
    user-select:none;
}

.todo-item-delete:hover {
    color: #ff8300;
}

.todo-item:hover .todo-item-delete {
    visibility: visible;
}